.mainContent {
	width: 100%;
	margin: auto;
	padding: 1rem;
	position: relative;
	height: 90vh;
	position: relative;
	z-index: 1;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		z-index: -1;
		background: url(/images/background.jpeg);
		background-size: contain;
	}
}

.h1 {
	font-size: 1.5rem;
	text-align: center;
	background: white;
	width: fit-content;
	margin: 0 auto 1rem;
	img {
		width: 10rem;
	}
}

.publicMoney {
	margin: auto;
	margin-bottom: 0.5rem;
	width: max-content;
	font-size: 3rem;
	font-weight: bold;
}

button.deal, button.shoot, button.pass, button.keepGoing, button.gameOver, button.newGame {
	position: relative;
	padding-left: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 3rem;
	&:before {
		content: "";
		position: absolute;
		/* top: 0; */
		left: 0.5rem;
		width: 1.8rem;
		height: 1.35rem;
	}
}

button.shoot {
	&:before {
		background: url(/images/hearts.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/hearts-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.keepGoing {
	width: 8.6rem;
	&:before {
		background: url(/images/diamonds.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/diamonds-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.pass {
	&:before {
		background: url(/images/spades.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/spades-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.gameOver {
	width: 8.6rem;
	&:before {
		background: url(/images/clubs.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/clubs-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.deal {
	width: 8.6rem;
	&:before {
		background: url(/images/diamonds.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/diamonds-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.newGame {
	width: 8.6rem;
	margin: auto;
	display: flex;
	padding-left: 2.2rem;
	&:before {
		background: url(/images/hearts.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/hearts-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

.gameBoard {
	display: flex;
	width: max-content;
	margin: 0 auto 0.5rem;
	.card1, .card2, .card3 {
		display:inline-flex;
		margin: 0 0.5rem;
		font-size: 4rem;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		width: 8rem;
		min-height: 11rem;
		img {
			width: 100%;
			height: auto;
		}
	}

	.card3 {
		border: 1px;
		flex-wrap: wrap;
	}

	.getCard3 {
		cursor: pointer;
	}
}

.bets {
	width: max-content;
	margin: 0 auto 0.5rem;
	background: white;
	border: 1px solid rgba(16, 16, 16, 0.3);
	border-radius: 8px;
	padding: 1rem;
	display: none;
	&.active {
		display: block;
	}

	.title {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		text-align: center;
		font-size: 1.6rem;
		font-weight: bold;
	}

	.bigOrSmallArea {
		width: 100%;
		margin-bottom: 0.5rem;
		display: none;
		&.active {
			display: block;
		}
		.inputRadio {
			margin-right: 1rem;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			font-size: 1.5rem;
			input[type=radio] {
				height: 2rem;
				width: 2rem;
				margin-right: 0.5rem;
				accent-color: #dc3545;
			}
		}
	}

	.coin {
		display: inline-flex;
		width: 3.5rem;
		height: 3.5rem;
		justify-content: center;
		line-height: 3.5rem;
		border: 2px solid #ffc107;
		border-radius: 50%;
		margin: 0 0.3rem;
		cursor: pointer;
		background: white;
		color: #ffc107;
		font-size: 1.4rem;
		&.active {
			/*background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
			background-blend-mode: normal, lighten, soft-light;
			border: 2px solid grey;*/
			background: #ffc107;
			color:white;
		}
	}

	.inputCoin {
		display: inline-flex;
		align-items: center;
		border: 1px solid #000;
		border-radius: 24px;
		margin: 0 0.3rem;
		input {
			width: 5rem;
			font-size: 1.5rem;
			text-align: center;
			border: 0px;
		}
		&.active {
			background: #ffc107;
			color:white;
			input {
				color: #000;
				background: #ffc107;
			}
		}
		.plus, .minus {
			display: block;
			float: left;
			width: 3rem;
			height: 3rem;
			text-align: center;
			border: 0px;
			background: transparent;
			border-radius: 50%;
			font-size: 1.5rem;
		}
	}
}

.dealCards {
	margin: auto;
	width: max-content;
}

table.privateMoney {
	position: absolute;
	top: calc(100vh - 11rem);
	width: calc(100% - 2rem);
	font-size: 1.1rem;
	background: white;
	tr {
		td {
			padding: 1rem 0.4rem;
			width: calc((100% - 3rem) / 3);
			border: 1px solid rgba(16, 16, 16, 0.3);
			text-align: center;
			&.me {
				background: gold;
			}
		}

	}
}

#gameOver {
	display: none;
	table {
		margin-bottom: 3rem;
		width: 100%;
		background: white;
		th {
			font-weight: bold;
			background: gold;
		}
		th, td {
			border: 1px solid;
			text-align: center;
			padding: 1rem;
		}
	}
}

@media screen and (min-width: 376px) {
	.mainContent{
		max-width: 376px;
	}
}