.bg-1a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -10px;
}

.bg-1b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -180px;
}

.bg-1c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -860px;
}

.bg-1d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -350px;
}

.bg-2a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -520px;
}

.bg-2b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -690px;
}

.bg-2c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -904px -1030px;
}

.bg-2d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -10px;
}

.bg-3a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -520px;
}

.bg-3b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -180px;
}

.bg-3c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -350px;
}

.bg-3d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -860px;
}

.bg-4a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -1030px;
}

.bg-4b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1029px -690px;
}

.bg-4c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -180px;
}

.bg-4d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -10px;
}

.bg-5a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -350px;
}

.bg-5b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -10px;
}

.bg-5c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -520px;
}

.bg-5d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -690px;
}

.bg-6a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -1030px;
}

.bg-6b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -1030px;
}

.bg-6c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -690px;
}

.bg-6d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1154px -860px;
}

.bg-7a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -10px -1230px;
}

.bg-7b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -350px;
}

.bg-7c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -385px -1230px;
}

.bg-7d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -180px;
}

.bg-8a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -635px -1230px;
}

.bg-8b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -510px -1230px;
}

.bg-8c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -520px;
}

.bg-8d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -260px -1230px;
}

.bg-9a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -135px -1230px;
}

.bg-9b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1279px -860px;
}

.bg-9c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -760px -1230px;
}

.bg-9d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -885px -1230px;
}

.bg-10a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1010px -1230px;
}

.bg-10b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1135px -1230px;
}

.bg-10c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -10px;
}

.bg-10d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1260px -1230px;
}

.bg-11a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -180px;
}

.bg-11b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -350px;
}

.bg-11c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -520px;
}

.bg-11d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -690px;
}

.bg-12a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -860px;
}

.bg-12b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -1030px;
}

.bg-12c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1404px -1200px;
}

.bg-12d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -10px;
}

.bg-13a {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -180px;
}

.bg-13b {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -350px;
}

.bg-13c {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -520px;
}

.bg-13d {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -690px;
}

.bg-back {
	width: 12rem; height: 10.5rem;
	background: url(/images/pocker.png) 0rem 0.1rem no-repeat;
	background-size: 14rem auto;
}

.bg-jocker_1 {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -860px;
}

.bg-jocker_2 {
	width: 13.2rem; height: 10.8rem;
	background: url('/images/pocker.png') -1529px -1030px;
}

@media screen and (min-width: 391px) {
	.bg-1a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -10px;
	}

	.bg-1b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -180px;
	}

	.bg-1c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -860px;
	}

	.bg-1d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -350px;
	}

	.bg-2a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -520px;
	}

	.bg-2b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -690px;
	}

	.bg-2c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -904px -1030px;
	}

	.bg-2d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -10px;
	}

	.bg-3a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -520px;
	}

	.bg-3b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -180px;
	}

	.bg-3c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -350px;
	}

	.bg-3d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -860px;
	}

	.bg-4a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -1030px;
	}

	.bg-4b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1029px -690px;
	}

	.bg-4c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -180px;
	}

	.bg-4d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -10px;
	}

	.bg-5a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -350px;
	}

	.bg-5b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -10px;
	}

	.bg-5c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -520px;
	}

	.bg-5d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -690px;
	}

	.bg-6a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -1030px;
	}

	.bg-6b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -1030px;
	}

	.bg-6c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -690px;
	}

	.bg-6d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1154px -860px;
	}

	.bg-7a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -10px -1230px;
	}

	.bg-7b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -350px;
	}

	.bg-7c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -385px -1230px;
	}

	.bg-7d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -180px;
	}

	.bg-8a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -635px -1230px;
	}

	.bg-8b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -510px -1230px;
	}

	.bg-8c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -520px;
	}

	.bg-8d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -260px -1230px;
	}

	.bg-9a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -135px -1230px;
	}

	.bg-9b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1279px -860px;
	}

	.bg-9c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -760px -1230px;
	}

	.bg-9d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -885px -1230px;
	}

	.bg-10a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1010px -1230px;
	}

	.bg-10b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1135px -1230px;
	}

	.bg-10c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -10px;
	}

	.bg-10d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1260px -1230px;
	}

	.bg-11a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -180px;
	}

	.bg-11b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -350px;
	}

	.bg-11c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -520px;
	}

	.bg-11d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -690px;
	}

	.bg-12a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -860px;
	}

	.bg-12b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -1030px;
	}

	.bg-12c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1404px -1200px;
	}

	.bg-12d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -10px;
	}

	.bg-13a {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -180px;
	}

	.bg-13b {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -350px;
	}

	.bg-13c {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -520px;
	}

	.bg-13d {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -690px;
	}

	.bg-back {
		width: 13rem;
		height: 11.2rem;
		background: url(/images/pocker.png) 0rem 0.1rem no-repeat;
		background-size: 15rem auto;
	}

	.bg-jocker_1 {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -860px;
	}

	.bg-jocker_2 {
		width: 10.5rem; height: 10.8rem;
		background: url('/images/pocker.png') -1529px -1030px;
	}
}